<template>
	<AppCalander />
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import AppCalander from "@/components/AppCalander.vue";

@Options({
	components: { AppCalander },
})
export default class Calander extends Vue {}
</script>