<template>
	<div class="home container mx-auto text-center">
		<img class="mx-auto" alt="Vue logo" src="../assets/logo.png" />
		<HelloWorld msg="Hello, This is Wu's Web" />
	</div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import HelloWorld from "@/components/HelloWorld.vue"; // @ is an alias to /src

@Options({
	components: {
		HelloWorld,
	},
})
export default class Home extends Vue {}
</script>
