<template>
	<div class="container mx-auto text-center">
		<div class="grid grid-cols-3 gap-10">
			<router-link to="/calander"
				><button
					class="uppercase px-4 py-1 rounded-full bg-blue-300 text-blue-600 max-w-max shadow-sm hover:shadow-lg"
				>
					Calander
				</button></router-link
			>
			<router-link to="/">
				<button
					class="uppercase px-4 py-1 rounded-full bg-yellow-300 text-yellow-600 max-w-max shadow-sm hover:shadow-lg"
				>
					Slider Carousel
				</button>
			</router-link>
			<router-link to="/">
				<button
					class="uppercase px-4 py-1 rounded-full bg-red-300 text-red-600 max-w-max shadow-sm hover:shadow-lg"
				>
					next
				</button>
			</router-link>
			<router-link to="/">
				<button
					class="uppercase px-4 py-1 rounded-full bg-gray-300 text-gray-600 max-w-max shadow-sm hover:shadow-lg"
				>
					next
				</button>
			</router-link>
			<router-link to="/">
				<button
					class="uppercase px-4 py-1 rounded-full bg-green-300 text-green-600 max-w-max shadow-sm hover:shadow-lg"
				>
					next
				</button>
			</router-link>
			<router-link to="/">
				<button
					class="uppercase px-4 py-1 rounded-full bg-green-300 text-green-600 max-w-max shadow-sm hover:shadow-lg"
				>
					next
				</button>
			</router-link>
		</div>
	</div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";

@Options({
	components: {},
})
export default class Learning extends Vue {}
</script>