<template>
	<div class="container mx-auto h-screen text-center">
		<div v-if="$store.state.isAuthenticate">
			<form @submit.prevent="addCompanyToList">
				<input
					type="text"
					v-model="textCompany"
					class="border p-1 rounded-md shadow-md"
					placeholder="Add company to watchlist..."
					ref="addCompanyRef"
				/>
				<button
					type="submit"
					class="border shadow-md rounded-md p-1 mt-10"
					:disabled="isDisabled"
					:class="{ 'bg-gray-50 text-gray-400 cursor-auto': isDisabled }"
				>
					Add
				</button>
				<p class="text-sm text-red-500" v-show="!isValidCompany">
					* Not a valid symbol
				</p>
			</form>
			<div class="my-10">
				<ul v-for="stock in info" :key="stock.company">
					<li>
						<h1 class="text-lg text-blue-600">{{ stock.company }}:</h1>
					</li>
					<li>
						<div class="flex justify-center mt-2">
							Open price:
							<p class="text-blue-400 mx-2">{{ stock.openPrice }}</p>
							Last price:
							<p class="text-red-500 mx-2">{{ stock.lastPrice }}</p>
						</div>
					</li>
					<br />
				</ul>
			</div>
		</div>
		<div v-else class="h-screen">
			<h1 class="text-3xl font-bold mx-auto my-10 text-green-500">🦀 Login to access this Page! 🐬</h1>
		</div>
	</div>
</template>


<script lang="ts">
import { Options, Vue } from "vue-class-component";
import firebase from "@/utilities/firebase";
import axios from "axios";

@Options({
	data() {
		return {
			info: [],
			show: false,
			apiKey: "",
			urlPrice: "https://api.tdameritrade.com/v1/marketdata/TSLA/pricehistory",
			urlQuote: "https://api.tdameritrade.com/v1/marketdata/TSLA/quotes",
			urlQuotes: "https://api.tdameritrade.com/v1/marketdata/quotes",
			textCompany: "",
			symbol: ["ARKK", "TSLA"],
			isDisabled: true,
			isValidCompany: true,
		};
	},
	mounted() {
		if(this.$store.state.isAuthenticate){
			this.$refs.addCompanyRef.focus();
		}
		this.getInfo();
	},
	updated() {
		this.isDisabled = this.textCompany === "";
	},
	methods: {
		addCompanyToList() {
			if (!this.symbol.includes(this.textCompany)) {
				// this.symbol.sort();
				this.symbol.push(this.textCompany);
				this.getInfo();
				console.log("this.isValidCompany:", this.isValidCompany);
			}
		},
		getInfo() {
			const db = firebase.database();

			firebase.auth().onAuthStateChanged((user) => {
				if (user) {
					// User is signed in.
					// console.log(user);
					db.ref("/KEY/")
						.once("value")
						.then((ref) => {
							this.apiKey = ref.val().TD_API_KEY;
							// console.log("Project owner", this.apiKey);
							axios
								.get(this.urlQuotes, {
									params: {
										apikey: this.apiKey,
										startDate: "1609762740000",
										endDate: "1609769220000",
										symbol: this.symbol.join(),
									},
								})
								.then((res) => {
									this.info = [];
									for (let i = 0; i < this.symbol.length; i++) {
										this.info.push({
											company: res.data[this.symbol[i]].description,
											openPrice: res.data[this.symbol[i]].openPrice,
											lastPrice: res.data[this.symbol[i]].lastPrice,
										});
									}
									this.isValidCompany = true;
									console.log("Succeed:", res.data);
									// console.log(this.info);
								})
								.catch(() => {
									console.log("Cant read TD api");
									console.log(this.symbol);
									this.symbol.pop(this.textCompany);
									console.log(this.symbol);

									this.isValidCompany = false;
								});
						})
						.catch(() => {
							// console.log("Not project owner", user.uid);
						});
				} else {
					// No user is signed in.
					console.log("No user");
				}
			});
		},
	},
})
export default class Stock extends Vue {}
</script>