<template>
	<div class="container m-auto" style="width: 50%">
		<section class="text-center">
			<nav
				class="w-full bg-gradient-to-r from-blue-600 to-blue-400 text-white font-bold flex justify-center"
			>
				<h1>
					{{ currentMonthName }}
				</h1>
				<h1 class="mx-2">
					{{ currentYear }}
				</h1>
			</nav>
		</section>
		<section class="flex justify-between bg-green-50 h-12">
			<button @click="prev" class="m-2 px-2 border rounded">
				Prev
			</button>
			<button @click="next" class="m-2 px-2 border rounded">
				Next
			</button>
		</section>
		<section class="flex bg-green-50" style="justify-content: center">
			<p
				v-for="day in days"
				:key="day"
				class="text-center"
				style="width: 14.28%"
			>
				{{ day }}
			</p>
		</section>
		<section class="flex flex-wrap bg-green-50">
			<p
				v-for="num in startDay(currentYear, currentMonth)"
				:key="num"
				class="text-center"
				style="width: 14.28%"
			></p>
			<p
				v-for="num in daysInMonth(currentYear, currentMonth)"
				:key="num"
				class="text-center"
				style="width: 14.28%"
				:class="currentDateCheck(num)"
			>
				{{ num }}
			</p>
		</section>
	</div>
</template>

<script>
export default {
	data() {
		return {
			currentDate: new Date().getUTCDate(),
			currentMonth: new Date().getMonth(),
			currentYear: new Date().getFullYear(),
			days: ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
		};
	},
	methods: {
		daysInMonth(year, month) {
			return new Date(year, month + 1, 0).getDate();
		},
		startDay(year, month) {
			return new Date(year, month, 1).getDay();
		},
		prev() {
			if(this.currentMonth === 0){
				this.currentMonth = 12;
				this.currentYear--;
			}
			this.currentMonth--;
		},
		next() {
			if(this.currentMonth === 11){
				this.currentMonth = -1;
				this.currentYear++;
			}
			this.currentMonth++;
		},
		currentDateCheck(num) {
			return new Date(this.currentYear, this.currentMonth, num).toDateString() === new Date().toDateString() ? 'text-red-600' : '';
		}
	},
	computed: {
		currentMonthName() {
			return new Date(this.currentYear, this.currentMonth).toLocaleString("default", { month: "long" })
		}
	}
};
</script>