<template>
	<section
		class="z-10 h-screen w-screen bg-gray-50 fixed top-0 opacity-50"
		@click="close"
	></section>
	<div class="absolute inset-0">
		<div class="flex h-full">
			<div
				class="z-20 m-auto bg-gradient-to-br from-green-50 to-blue-200 p-2 rounded shadow w-1/3"
			>
				<h1 class="text-2xl my-2 text-center">Login</h1>
				<GoogleLogin @close-login-from-google="close"/>
				<p class="text-center my-2">Or</p>
				<form class="p-2" @submit.prevent="submitForm">
					<div>
						<label>Email or Username</label>
						<input
							type="text"
							v-model="form.email"
							class="rounded shadow p-2 w-full"
							placeholder="Enter your email or username"
							ref="emailRef"
						/>
						<div v-if="form.invalidEmail" class="text-sm text-red-500">
							* Not valid email or username
						</div>
					</div>
					<div class="my-4">
						<label>Password</label>
						<input
							type="password"
							v-model="form.password"
							class="rounded shadow p-2 w-full"
							placeholder="Enter your password"
						/>
						<div v-if="form.invalidPassword" class="text-sm text-red-500">
							* Wrong password
						</div>
						<div v-if="form.tooManyRequest" class="text-sm text-red-500">
							* Too many request. Try it Later.
						</div>
					</div>
					<div class="float-right p-2">
						<button
							type="submit"
							class="rounded shadow-md bg-green-50 p-2 mx-4"
						>
							Login
						</button>
						<button @click="close" class="rounded shadow-md bg-pink-50 p-2">
							Cancel
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</template>

<script>
import firebase from "@/utilities/firebase";
import GoogleLogin from "@/components/Login/GoogleLogin";

export default {
	components: { GoogleLogin },
	emits: ["close-login"],
	data() {
		return {
			form: {
				email: "",
				password: "",
				invalidEmail: false,
				invalidPassword: false,
				tooManyRequest: false,
			},
		};
	},
	methods: {
		submitForm() {
			// console.log(this.form);
			//Submit the form
			firebase
				.auth()
				.signInWithEmailAndPassword(this.form.email, this.form.password)
				.then(() => {
					this.form.email = "";
					this.form.password = "";
					this.form.invalidEmail = false;
					this.form.invalidPassword = false;
					this.form.tooManyRequest = false;
					this.close();
				})
				.catch((e) => {
					// console.log(e.code);
					if (
						e.code == "auth/invalid-email" ||
						e.code == "auth/user-not-found"
					) {
						this.form.invalidEmail = true;
						this.form.invalidPassword = false;
						this.form.tooManyRequest = false;
					} else if (e.code == "auth/wrong-password") {
						this.form.invalidEmail = false;
						this.form.invalidPassword = true;
						this.form.tooManyRequest = false;
					} else if (e.code == "auth/too-many-requests") {
						this.form.invalidEmail = false;
						this.form.invalidPassword = false;
						this.form.tooManyRequest = true;
					}
				});
		},
		close() {
			this.$emit("close-login");
		},
	},
	mounted() {
		this.$refs.emailRef.focus();
	},
};
</script>