<template>
	<div id="nav" class="flex justify-between">
		<div>
			<router-link to="/">
				<img src="@/assets/images/2d-2.png" style="width: 50px" />
			</router-link>
		</div>
		<div class="my-auto">
			<router-link to="/">Home</router-link> |
			<router-link to="/stock">Stock</router-link> |
			<router-link to="learning">Learning</router-link> |
		</div>
		<div class="my-auto">
			<button
				v-if="!$store.state.isAuthenticate"
				@click="isOpen = true"
				style="font-weight: bold"
			>
				Login
			</button>
			<button v-else @click="logout" style="font-weight: bold">Logout</button>
		</div>
	</div>
	<router-view />
	<LoginModel v-if="isOpen" @close-login="isOpen = false" />
</template>

<script>
import LoginModel from "@/components/LoginModel";
import firebase from "@/utilities/firebase";

export default {
	components: {
		LoginModel,
	},
	data() {
		return {
			isOpen: false,
		};
	},
	methods: {
		logout() {
			firebase
				.auth()
				.signOut()
				.then(() => {
					console.log("Logged out");
				})
				.catch((e) => {
					console.log(e);
				});
		},
	},
	mounted() {
		this.$store.dispatch("setAuth");
	},
};
</script>

<style lang="scss">
@import "@/assets/scss/main.scss";
</style>
